body {
    font-family: "Open Sans", sans-serif;
    margin-left: 0px;
}
html{
    scroll-behavior: smooth;
}
/* @media (min-width: 992px){
.container{
    width: 970px;
    
}
}
@media (min-width: 768px){
.container {
    width: 750px;
}
}

@media (min-width: 1200px){
.container {
    width: 170px;
}
} */
/* .header{
    left: 37px !important;
width: 95% !important;
position: absolute !important;
z-index: 2;
} */
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
    
  
}
.container{
    padding-left: 40px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
 .header .container::after {
    content: "";
    width: 97%;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: 3px;
}
.header .logo  img {
    height: 40px;
   
  }
.links {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
    color: white;
  
  
  }
  .links ul li a{
    text-decoration: none;
    color: white;
  }
.links ul{
    display: flex;
    
   list-style: none;
}
.links ul li{
    margin-left: 25px;
    
}
.links ul li i{
    color: white;
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
.search {
    position: relative;
color: black;
font-size: 23px;
right: 0;
transform: translate(-50%);

}
.search::before{
    content: "";
    width: 4%;
    height: 100%;
    background-color: white;
    position: absolute;
    left: 35px;
    }
    .links .toggle-menue{
        font-size: 22px;
        color: white;
        display: none;
    }
    


    .lading{
        min-height :100vh;
        background-color: black;
        background-image: url(img/landing.jpg);
        position: relative;
        background-size: cover;

    }
    .header{
        position: absolute;
    
        width: 90%;
        
        z-index: 2;
    }
    .lading .overlap {
        width: 100%;
        top: 0;
        height: 100%;
        left: 0;
      position: absolute;
      background-color: rgb(0 0 0 / 60%);
    }
    .lading .text {
        top: 50%;
        color: white;
        width: 50%;
        position: absolute;
        line-height: 1.5;
        transform: translateY(-50%);
        background-color: rgb(15  116  143 / 70%);
        padding: 50px;
        left: 0;
    }
    .cont .change-background{
    position: absolute;
    top: 50%;
    color: white;
    transform: translateY(-50%);
    }
     .cont .fa-angle-right{
       right: 30px;
    }
    .cont .fa-angle-left{
        left: 30px;
    }
    .foot{
        display: flex;
        
        bottom: 30px;
        position: absolute;
        left: 40%;
    }
    .foot li{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid white;
        margin-left: 10px;
    }
    .foot {
        list-style: none;
    }
    .active{
        background-color: #19c8fa;
        border-color: #19c8fa;
    }
    .services .one ,
    .portfolio .one{
        
        text-align: center;
    }
    .services .one h2 ,
    .portfolio .one h2 ,
     .about .one h2{
        position: relative;
        font-size: 40px;
        font-weight: normal;
        margin-bottom: 70px;
    }
    .services .one h2::before
    .portfolio .one h2 ::before ,
    .about .one h2 ::before {
        content: "";
        width: 20%;
        height: 2px;
        position: absolute;
        background-color: #333;
        transform: translate(-50%);
        bottom: -15%;
        left: 50%;
    }
    .services .one h2 ::after ,
    .portfolio .one h2 ::after ,
    .about .one h2 ::after {
        content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #333;
    position: absolute;
    background-color: white;
    top: 50px;
    left: 48%;
    }
    .services .one p ,
    .portfolio .one p ,
    .about .one p {
        width: 550px;
        line-height: 2;
        max-width: 100%;
        color: #777;
        margin: 0 auto 100px;

    }
    .service-content {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(500px ,1fr));
        grid-column-gap: 200px;
        grid-row-gap: 100px;
        margin-left: 100px;

    }
    .service-content h3{
        color: #19c8fa;
        margin-bottom: 30px;
    }
    .service-content .serv {
        display: flex;
     
    }
    .service-content .text{
        margin:0;
        width: 50%;
    }
    .service-content i{
        margin-right: 50px;
    }
    .design{
        background-image: url(img/design-features.jpg);
    height: 600px;
    margin: 0;
    margin-top: 80px;
    overflow: hidden;
    background-color: rgb(0 0 0 / 60%);
    width: 100%;
}
   
     .design .text2{
background-color: rgb(15 116 143 / 70%);
color: white;
width: 40%;
padding: 20px;
background-size: cover;
transform: translate(100%);
position: relative;
    top: 25%;
    right: -200px;
    }
    .design .conts{
        display: flex;
        margin-bottom: 10px;
    }
    .design i{
        size: 10px;
        margin-right: 15px;
    }
    .design img{
        position: relative;
        bottom: 110px;
        
    }
    .design .img{
        position: relative;
        left: 100px;
    }
    .play{ 
        display: flex;
      justify-content:  center;
    

    }
    .play p{
        margin-left: 15px;
    }
    .play .select{
        background-color: #19c8fa;
        padding: 10px;
    }
    .img-container{
        display: flex;
        flex-wrap: wrap;
        margin-top: 60px;
      margin-bottom: 40px;
    }
    .img-container .box{
        flex-basis: 25%;
        overflow: hidden;

position: relative; 
   }
   .img-container .box:hover .caption {
   bottom: 0;
   }
   .img-container .box:hover img {
    transform: rotate(3deg) scale(1.1);
   }
    .img-container .box img{
max-width: 100%;
transition: 0.3s;
    }
    .img-container .box .caption {
        position: absolute;
        left: 0;
        padding: 20px;
        background-color: white;
        width: 100%;
        transition: 0.3s;
        bottom: -100%;
        
    }
    @media (min-width:798px){
        .img-container .box{
            flex-basis: 50%;

        }
    }
    @media (min-width:1199px){
        .img-container .box{
            flex-basis: 25%;
            
        }
    }
    .img-container .caption p {
        color: #19c8fa;
        font-weight: normal;
    }
    .img-container .caption h4{
        font-weight: normal;
    }
     .more{
        background-color: #19c8fa;
        color: white;
        text-align: center;
        text-decoration: none;
        padding: 20px;
        margin-top: 40px;
        text-transform: uppercase;
        margin-left: 50%;
     }
     .video {
        position: relative;
        margin-top: 50px;
     }
     .video ::before{
        content: "";
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
   
     }
     .video video{
width: 100%;

     }
     .video .texte{
width: 100%;
position: absolute;
top: 50%;
transform: translateY(-50%);
background-color:rgb(15 116 143 / 70%);
color: white;
text-align: center;
padding: 50px;
     }
     .video h2{
        font-weight: normal;
    }
    
    .video button{
        background-color: black;
        color: white;
        padding: 10px;
    text-transform: uppercase;
    }
    .stats {
        text-align: center;
       background-image: url(img/stats.png);
       position: relative;
       background-size: cover;
       margin-top: -138px;
    }
    /* .stats ::after{
        content: "";
        position:absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 70%);
    } */
    .stats .container {
position: relative;
color: white;
display: flex;

    }
    .stats .container  .box{
        color: white;
      padding: 50px;
      background-color: rgb(15 116 143 / 70%);
      margin-top: 80px;
      margin-bottom: 50px;
    }
    @media (max-width: 767px){
        .stats .container .box {
            flex-basis: 100%;
        }
    }
    @media (min-width: 768px){
        .stats .container .box {
            flex-basis: 50%;
        }
    }
    @media (min-width:991px) {
        .stats .container .box {
            flex-basis: 25%;
        }
    }
    .stats .container .box i{
        width: 40px;
        height: 40px;
        display: flex;
        background-color: black;
        align-items: bcenter;
        border-radius: 50%;
         margin: 0 auto 30px;
        
    }
    .stats .container .box .number {
        font-size: 50px;
        font-weight: bold;
        margin :0 0 20px;
    }
    .our-skills {
        padding-top: 100px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill ,minmax(500px ,1fr));
    /* grid-gap: 159px; */
    gap: 50px;
    display: flex;
    }
    @media (min0width: 992px){
        .our-skills .container > div {
            flex-basis: 45%;
        }
    }
    /* .our-skills .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .our-skills .container > div >p {
color: #777;
line-height: 2;
text-align: center;
margin-bottom: 60px;
    }
    .our-skills .container > div >h3{
        margin: 0 0 30px;
        font-weight: normal;
        text-transform: uppercase;
        text-align: center;
    }
   .bullets{
    display: flex;
    bottom: 30px;
    position: absolute;
    left: 40%;
   }
     .bullets .active{
        background-color: #19c8fa;
        border-color: #19c8fa;
    }
    .bullets li{
        width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid white;
    margin-left: 10px;
    } */.testimonials {
        margin-left: 50px;
      
    }
    .testimonials h3{
        margin-left: 100px;
    text-transform: uppercase;
    font-weight: normal;
    }
    .testimonials p{
        
    color: #777;
    text-align: center;
    line-height: 2;
    width: 50%;
    }
    .contents{
        display: flex;
        width: 95%;
    }
    .contents img {
        border-radius: 50%;
    width: 100px;
    height: 100px;
    }
    .contents .text{
        width: 35%;
    margin-top: 20px;
    margin-left: 50px;
    line-height: 1.8;
    border-bottom: 1px solid #ccc;
    }
.contents p{
    color: #777;
    text-align: right;
    font-size: 14px;
    margin-left: -93px;
}
.skills h3{
    font-weight: normal;
    text-transform: uppercase;
}
.skills{
    text-align: center;
}
.skills p{
    width: 85%;
    color: #777;
}
.container .bullets {
    display: flex;
    margin-left: 23%;
}
.container .bullets li{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
    list-style: none;
    margin-left: 10px;
}
.prog-holder {
    margin-bottom: 40px;
}
.prog-holder h4{
    margin-bottom: 15px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: start;
}
.prog{
    background-color: #dedadc;
    height: 30px;
}
.prog span{
    display: block;
    background-color:#19c8fa;
    height: 100%;
    position: relative;
}
.prog span::before{
    content: attr(data-progress);
    position: absolute;
    background-color: black;
    color: white;
    top: -40px;
    right: -18px;
    padding: 4px 0;
    width: 40px;
    text-align: center;
    border-radius: 4px;
}
.prog span::after{
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 8px;
    border-color: black transparent transparent;
    right: -8px;
    top: -15px;
}
.accum{
    text-align: center;
    background-image: url(img/quote.jpg);
    padding: 10px;
    color: blue;
    position: relative;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}
.accum::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}
.accum h4{
    font-size: 30px;
    margin-bottom: 20px;

}
.plans{
    display:flex
}
.plan {
    background-color: #fcfcfc;
   
    margin-left: 10px;
    width: 100%;
}
.plan .head {
    padding: 40px 20px;
    border-top: 1px solid #19c8fa;
    border-bottom: 1px solid #19c8fa;
}
.plan h3{
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
}
.plan span{
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    padding-left: 30px;

}
.plan span::after {
    content: "$";
    font-size: 25px;
    position: relative;
    top: -26px;
    margin-right: 15px;
    font-weight: normal;
    left: -68px;
}
.plan span::before{
    content: "/Mo";
    font-size: 20px;
    position: relative;
    right: -95px;
}
.plan ul{
    list-style: none;
    padding: 23px;
    border-bottom: 1px solid #19c8fa
    
}
.plan ul li{
    
    padding: 20px;
    position: relative;
    text-transform: capitalize;
    text-align: center;
}
.plan ul li:not(:last-child)::after{
    content: "";
    width: 152px;
    height: 1px;
    background-color: #19c8fa;
    position: absolute;
    left: 52%;
    transform: translateX(-50%);
    bottom: 0;
}
.plan a{
    text-decoration: none;
    margin: 40px auto;
    display: block;
    border: 1px solid #19c8fa;
    width: fit-content;
    padding :20px 20px;
}
.conct{
    text-align: center;

}
.conct a{
    border: 1px solid #19c8fa;
    background-color: #19c8fa;
    color: white;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    margin-top: 10px;
}
.conct h3{
    margin-bottom: 50px;
} 
.mail {
    display: flex;
    background-image: url(img/subscribe.jpg);
    position: relative;
    color: white;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top:100px;
}
.mail::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}
.mail .container{
    width: 100%;
   position: relative;
   display: flex;
}
.mail form{
    display: flex;
    position: relative;
    width: 500px;
    max-width: 100%;
}
.mail form i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
}
.mail form .email{
   
    border: 1px solid white;
    border-right: none;
    background: none;
    padding: 20px 20px 20px 60px;
    caret-color: #19c8fa;
    width: calc(100% - 130px);
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.mail form .sent{
    
    width: 130px;
    background-color:#19c8fa;
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    border-left: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}
.tex{
    line-height: 2;
    margin-left: 50px;
    padding-left: 30px;
}
.texteara {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
}
.texteara form{
    flex-basis: 60%;
}
.texteara form .main-input{
    width: 100%;
    margin-bottom: 10px;
    padding: 20px;
    font-size: 20px;
    font-weight: normal;
    border: 1px solid #ccc;

}
.texteara form .input{
    width: 20%;
    padding: 20px;
    font-size: 20px;
    font-weight: normal;
    border: 1px solid #19c8fa;
    background-color: #19c8fa;
    color: white;
   margin-left: 85%;
   text-transform: uppercase;
}
.texteara .first{
    
   
    flex-basis: 30%;
    font-size: 20px;

}
.texteara .first h4{
    font-weight: 500;
    text-transform: uppercase;
}
address{
    text-transform: capitalize;
    line-height: 2;
    color: #777;
}
.texteara .phone{
    color: #777;
    display: block;
}
.last{
    background-image: url(img/subscribe.jpg);
    text-align: center;
    background-size: cover;
    padding: 50px;
    margin-top: 100px;
    color: white;
    position: relative;
    margin-left: 0;
}
.last::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 20%);
}
.last .soc{
    text-transform: uppercase;
    border-bottom:1px solid white;
    width: fit-content;
    font-size: 22px;
    margin: 20px auto;
    padding: 20px;
   
}
.last .logos i{
    margin-right: 25px;
}
.last .copyr{
    margin-top: 60px;
    font-size: 20px;
}